/* .ant-menu-item{
    color: #ffffff !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.69%;
    identical to box height, or 23px 
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


.ant-menu-item-selected {
 color:#4B176A;
 background-color: orange !important;
}

.ant-menu-item-active {
    background-color: orange;
    color: #4B176A !important;
} 
 */
